@page

@{
    ViewData["Title"] = "Home page";
}

<h1>Configuration</h1>
<a href="/Roles/Index">Manage roles</a><br/><br/>
<a href="/Categories/Index">Manage categories</a><br/><br/>
<a href="/Tests/Index">Manage tests</a><br/><br/>

<a href="/RoleTest/Index">Manage Role assignments</a><br/><br/>

<a href="/Seed">Initial load</a>